@page
@model TeamApplication.DeleteCity

@{
    ViewData["Title"] = "Delete City";
}

<h2>Delete City</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.City.CityName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.City.CityName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.City.State)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.City.State.UFAbreviation)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="City.CityId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
