@page
@model TeamApplication.DeleteCity

@{
    ViewData["Title"] = "Excluir Cidade";
}

<h3>Excluir Cidade</h3>

<h4>Você tem certeza que quer excluir este registro? </h4>
<h6>A operação é irreversível!</h6>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.City.CityName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.City.CityName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.City.State)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.City.State.UFAbreviation)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="City.CityId" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-page="./Index">Voltar</a>
    </form>
</div>
