@page
@model TeamApplication.CreateTeam

@{
    ViewData["Title"] = "Team Create";
}

<h2>Team Create</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Team.JobId" class="control-label"></label>

                <select asp-for="Team.JobId" class="form-control" asp-items="ViewBag.JobId"></select>
            </div>

            <div class="form-group">
                <label asp-for="Team.Volunteers" class="control-label"></label>
                <select asp-for="Team.Volunteers" class="form-control" asp-items="ViewBag.VolunteerId"></select>

            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
