@page
@model IndexModel
@{
    ViewData["Title"] = "Sementes Application";
}
<div class="row mb-auto">
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 mb-4 ">
                <p class="card-text">
                    Sementes da Alegria Team Selector Application.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column position-static">
                <p class="card-text mb-auto">
                   Cadastro de Membros, Entidades e agenda de ações
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column">
                <p class="card-text mb-auto">
                    Acesse nosso site: <a>www.sementesdaalegria.org.br</a>.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://www.sementesdaalegria.org.br">Sementes da Alegria - porque viver sem sorrir não tem a menor graça</a>.</p>
</div>
